body
{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.logo
{
 background-color: black;
}
.begin
{
   background-image: url(banner.jpg);
   background-size: cover;
   padding-bottom: 3em;
   background-repeat: no-repeat;
}
h1
{
    font-weight: bold;
    font-size: 2em;
    color: rgb(68, 161, 161);
    padding: 0.5em;
}
p
{
    color: rgb(101, 101, 101);
    font-size: 1.2em;
    padding: 1.2em;
    margin: 0.3em;
}
span
{
    background-color: rgb(235, 92, 15);
    border-radius: 0.2em;
    padding: 0.7em;
    color: white;
}
h2
{
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(68, 161, 161);
    padding: 0.5em;
    margin-top: 2em;
    
}
h4
{
    font-size: 1.2em;
    color: white;
    margin: 1em;
}
.photo > img
{
    border-radius: 50%;
}
.info
{
    background-color: rgb(255, 77, 0);
}
.info > h1
{
    color: white;
    
}
.info > p
{
    color: white;
    
}
.info > span
{
    color: white;
    margin: 1px;
   
}
.space
{
    margin-top: 2em;
}
footer
{
    background-color: rgb(2, 136, 189);
    padding-bottom: 2em;
    
}
footer > h1
{
    color: white;
    font-size: 2em;
}
footer > h4
{
    padding-left: 2em;
    background-color:rgb(2, 136, 189);
    color: white;
    font-size: 1em;
}